<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.chr.shoppingmall.mapper.orderMapper">
    <resultMap id="orderMapper" type="order">
        <id property="id" column="OrderID"/>
        <result property="userId" column="UserID"/>
        <result property="productId" column="ProductID"/>
        <result property="sellerId" column="SellerID"/>
        <result property="quantity" column="Quantity"/>
        <result property="totalAmount" column="TotalAmount"/>
        <result property="deliveryAddress" column="DeliveryAddress"/>
        <result property="recipientName" column="RecipientName"/>
        <result property="recipientPhone" column="RecipientPhone"/>
        <result property="orderStatus" column="OrderStatus"/>
        <result property="notes" column="notes"/>
        <result property="orderDate" column="OrderDate"/>
        <result property="paymentDate" column="PaymentDate"/>
        <result property="shippingDate" column="ShippingDate"/>
        <result property="deliveryDate" column="DeliveryDate"/>
    </resultMap>

    <!-- 根据商家id查询多条 List<order> selectOrderBySellerID(@Param("sellerId") Integer sellerId);-->
    <select id="selectOrderBySellerID" resultMap="orderMapper">
        select * from Orders where SellerID = #{sellerId}
    </select>


    <!--  获取已签收未评价的商品通过userid  List<order> getNoEvaluationOrder(@Param("userId") Integer userId);-->
    <select id="getNoEvaluationOrder" resultMap="orderMapper">
        select * from orders where UserID = #{userId} and OrderStatus = '3'
    </select>
</mapper>