<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.chr.shoppingmall.mapper.sellerMapper">
    <resultMap id="sellerMapper" type="seller">
        <id property="id" column="SellerID"/>
        <result property="name" column="SellerName"/>
        <result property="password" column="Password"/>
        <result property="description" column="Description"/>
        <result property="email" column="Email"/>
        <result property="phone" column="PhoneNumber"/>
    </resultMap>

    <!--查一个 seller selectSellerById(@Param("id") Integer id);-->
    <select id="selectSellerById" resultMap="sellerMapper">
        select * from sellers where SellerID= #{id};
    </select>

    <!-- 查全部 List<seller> selectSellerAll();-->
    <select id="selectSellerAll" resultMap="sellerMapper">
        select * from sellers
    </select>
</mapper>