<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chr.shoppingmall.mapper.userMapper">
    <resultMap id="userMapper" type="user">
        <id property="id" column="UserID"/>
        <result property="username" column="Username"/>
        <result property="password" column="Password"/>
        <result property="email" column="Email"/>
        <result property="phone" column="PhoneNumber"/>
        <result property="date" column="RegistrationDate"/>
        <result property="lestDate" column="LastLoginDate"/>
    </resultMap>

    <!--通过 id 查一个-->
    <select id="selectUserById" resultMap="userMapper">
        select * from users where UserID= #{id};
    </select>

    <!--查全部-->
    <select id="selectUserAll" resultMap="userMapper">
        select * from users;
    </select>

    <!--通过用户名查多个-->
    <select id="selectUserByUsername" resultMap="userMapper">
        select * from users where Username = #{username};
    </select>
</mapper>